@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadable{
    visibility: hidden;
}

.fade-in {
    visibility: visible;
    animation: fade-in 0.5s ease-in forwards;
    -webkit-animation: fade-in 0.5s ease-in forwards;
}

@-webkit-keyframes slide-from-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
    
}

@keyframes slide-from-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@-webkit-keyframes slide-from-right {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-from-right {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0);
    }
}

.slidable-from-left{
    visibility: hidden;
}

.slidable-from-right{
    visibility: hidden;
}

.slide-from-left {
    visibility: visible;
    animation: slide-from-left 0.4s ease-in forwards;
    -webkit-animation: slide-from-left 0.4s ease-in forwards;
}

.slide-from-right{
    visibility: visible;
    animation: slide-from-right 0.4s ease-in forwards;
    -webkit-animation: slide-from-right 0.4s ease-in forwards;
}