.feature-container {
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
    
}

.feature-img-container {
    text-align: center;
    position: relative;
}

.feature-img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
}

.tooltip-container{
   
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(40, 96, 144);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: medium;
    border-radius: 6px;
    margin-left: -32px;
    margin-top: 10px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip-container .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%; /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(40, 96, 144) transparent;
}

.tooltip-container:hover .tooltiptext{
    visibility: visible;
}

span.play-gif-container {
    background: rgba(0,0,0,0.4);
    color: white;
    cursor: pointer;
    display: table;
    height: 100%;
    margin: 0 auto;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

    span.play-gif-container span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

div.feature-gif {
    display: inline-block;/*inline-block;*/
    position: relative;
}

    div.feature-gif:hover span.play-gif-container {
        opacity: 1;
    }

    div.feature-gif:hover img.feature-img{
        filter: blur(4px);
    }

i.feature-btn {
    position: absolute;
    font-size: 5rem;
    color: rgb(40, 96, 144);
    transition: all 0.2s ease-in-out;
}   

i.feature-btn:hover {
    color: rgb(75, 140, 196);
    transition: all 0s ease-in-out;
}

i.isActive {
    visibility: hidden;
}

i.isActive span.tooltiptext{
    visibility: hidden !important;
}

.player {
    z-index: 1;
}

.stopper{
    z-index: 2;
}
