.feature-container {
    margin-top: 50px;
    margin-bottom: 100px;
}

.feature-img {
    display: block;
    margin: 0 auto;
}

span.play-gif-container {
    background: rgba(0,0,0,0.8);
    color: white;
    cursor: pointer;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

    span.play-gif-container span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

div.feature-gif {
    display: inline-block;
    position: relative;
    background-color: red;
}

    div.feature-gif:hover span.play-gif-container {
        opacity: 1;
    }

i.feature-btn {
    font-size: 5rem;
    color: white;
    transition: all 0.2s ease-in-out;
}

i.feature-btn:hover {
    color: rgb(116, 252, 138);
}
