/* --------------Projects.cshtml----------------*/
#projects #row-1 {
    background-image: url('../images/projects.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /*background-attachment: fixed;*/
    height: 600px;
}

#projects #row-2 {
    background-color: white;
}

#projects #feed {
    margin: 0 auto;
    width: 900px;
    text-align: justify;
}

#feed article {
    margin-bottom: 100px;
}

#projects h3, h2, h1 {
    color: #b2b2b2;
}

.box-3in1 h2{
    text-align: center;
    font-weight:bold;
}

#projects p, a {
    color: rgba(35, 37, 40, 0.7);
}

#projects a{
    font-size: 18px;
}

.project-img {
    animation-duration: 5s;
}


.container-3in1 {
    width: 100vw;
    padding: 20px, 20px;
    position: relative;
    display: flex !important;
    justify-content: space-evenly;
    left: calc(-50vw + 50%);
/*    padding-left: 100px;
    padding-right: 100px;*/
}

.box-3in1{
    width: 300px;
}

.container-icon-text{
    position: relative;
    display: flex !important;
    justify-content: space-evenly
}

.container-icon-text p, .container-icon-text > a {
    width: 90%;
    word-break: break-word;
}

.container-icon-text i {
    margin-right: 20px;
    align-self: center;
    color: #b2b2b2;
}


.container-icon-text i span {
    margin-top: 33px;
    left: -12px;
}


@media only screen and (max-width: 950px) {
    #projects #row-1 {
        background-image: url('../images/projects-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
    }

    #projects #feed {
        width: 100%;
        padding: 20px 20px;
    }

    img.project-img {
        width: 100%;
    }

    .container-3in1 {
        flex-direction: column;
        padding: 20px 20px;
    }

    .box-3in1{
        width: 100%;
    }
}

/* --------------END of Projects.cshtml----------------*/
