
.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

#nav-bar {
    display: none;
    /*transition: background-color 500ms linear;*/
}

.field-validation-error {
    color: #b94a48;
}

#dlg-container {
    position: fixed;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}

hr {
    border: none;
    height: 5px;
    color: #b2b2b2;
    background-color: #b2b2b2;
}

#dlgbox {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 480px;
    z-index: 9999;
    border-radius: 10px;
    background-color: white;
    border-color: #7c7d7e;
    border-style: solid;
    border-width: thick;
}

#dlg-body{
    color:black;
    font-size:14px;
    padding: 10px;
    margin: 0px 10px 0px 10px;
}

#dlg-btn {
    text-align: center;
    padding-bottom: 20px;
}

#dlg-btn button{
    margin-left: auto;
    margin-right: auto;
    /*border-radius: 10px;
    border-style: hidden;
    background-color: green;
    color: white;*/
    padding: 5px;
}

.hamburger {
    margin-top: 5px;
    display: none;
    float: left;
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid white;
    position: relative;
    background: transparent;
    transition: 0.1s transform linear;
    cursor: pointer;
}

    .hamburger::before, .hamburger::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid white;
        transform: translateY(10px);
    }

    .hamburger::after {
        transform: translateY(25px);
        transition: 0.3s transform linear;
    }

    .hamburger:focus {
        transform: rotate(45deg) translateY(5px);
        border: none;
    }

        .hamburger:focus::after {
            transform: rotate(-90deg) translateX(-10px);
        }

#nav-toggle {
    display: none;
}

/*MAIN NAV*/

.nav-default {
    /*background-color: rgba(110, 105, 100, 0.7);*/
    transition: background-color 500ms linear;
}

.nav-black {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 500ms linear;
}


#nav-main ul {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 50px;
}

    #nav-main ul li {
        float: left;
        display: block;
        margin: 0;
        height: 100%;
        padding: 0;
        width: 200px;
        text-align: center;
    }

        #nav-main ul li:hover {
            text-decoration: none;
            border-bottom: 5px solid rgb(255,255,255);
            /*background-color: rgba(255, 255, 255, 0.3);*/
            color: black;
        }


        #nav-main ul li a {
            display: block;
            text-decoration: none;
            padding-top: 15px;
            color: white;
            font-size: 20px;
        }

/*LANG NAV*/

#nav-lang ul {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    width: 400px;
    height: 50px;
}

    #nav-lang ul li {
        float: right;
        display: block;
        margin: 0;
        height: 100%;
        padding: 0;
        width: 100px;
        text-align: center;
    }

        #nav-lang ul li:hover {
            text-decoration: none;
            border-bottom: 5px solid rgb(255,255,255);
            color: black;
        }

        #nav-lang ul li a {
            display: block;
            text-decoration: none;
            padding-top: 15px;
            color: white;
            font-size: 20px;
        }

#nav-main ul li a.active-page {
    color: #999999;
}

        /* --------------Index.cshtml styling----------------*/

#index #row-1 {
    background-image: url('../images/notebook.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 700px;
}

#welcome {
    margin-left: 180px;
    padding-top: 130px;
    color: white;
    width: 360px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

#index #row-2, #row-3{
    height: 550px;
}

#index #row-4{
    height: 300px;
}

#bio-img {
    margin-left: 20%;
    float: left;
}

#bio-text {
    width: 550px;
    display: inline-block;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: sans-serif;
    background-color: white;/*#6e6964;*/
}

p {
    font-size: 18px;
}

#row-2, #row-3, #row-4 h1 {
    text-align: center;
}

#index #row-2 {
    border: 1px solid white;
    background-color: white;
}

#index #row-3 {
    background-color: #6e6964;
}

    #row-3 h1, #row-4 h1 {
        color: white;
        padding-top: 30px;
    }

#projects-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#project-text {
    visibility: hidden;
    position: absolute;
    text-align: center;
    top: 100px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    width: 400px;
    height: 150px;
    overflow: hidden;
}

.project-box {
    display: inline-block;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    /*transition: top 0.2s ease-in-out;*/
}

.project-box:hover #project-text {
    visibility: visible;
    display: block;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    opacity: 1;
    margin: 0;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
}

.btn-center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#index #row-4 {
    margin-top: -20px;
    padding-top: 0px;
    background-color: #000;
}

#contact-inputs {
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
}

#contact-name-mail {
    width: 50%;
    float: left;
}

#contact-name {
    width: 95%;
    margin-bottom: 10px;
}

#contact-mail {
    width: 95%;
}

#contact-message {
    height: auto;
    margin-right: 0;
    margin-left: 4%;
    width: 45%;
    resize: vertical;
    clear: both;
}

#contact-submit {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

#learn-more{
    margin-top: 30px;
}

/* --------------End of Index.cshtml styling----------------*/

/* --------------Footer styling----------------*/

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding-top: 20px;
}

#social-icons{
    margin-bottom: 20px;
}

#social-icons a{
    padding-right:15px;
}

/* --------------End of Footer styling----------------*/

/* --------------Projects.cshtml----------------*/
#projects #row-1 {
    background-image: url('../images/projects.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

#projects #row-2{
    background-color: white;
}

#projects #feed {
    margin: 0 auto;
    width: 900px;
    text-align: justify;
}

#feed article{
    margin-bottom:100px;
}

#projects h3, h1 {
    color: #b2b2b2;
}

#projects p{
    color: rgba(35, 37, 40, 0.7);
}

.project-img {
    animation-duration: 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

/* --------------END of Projects.cshtml----------------*/

/* --------------Systo.cshtml----------------*/

#systo-overview #row-1 {
    background-image: url('../images/erp.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    height: 600px;
}

.container {
    margin: 0 auto;
    width: 900px;
    text-align: justify;
}
#app-overview p {
    color: rgba(35, 37, 40, 0.7);
}

#app-overview h3, h1 {
    color: #b2b2b2;
}

.feature-container{
    margin-top: 50px;
    margin-bottom: 100px;
}

.feature-img {
    display: block;
    margin: 0 auto;
}

span.play-gif-container {
    background: rgba(0,0,0,0.3);
    color: white;
    cursor: pointer;
    display: table;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
}

    span.play-gif-container span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

div.feature-gif {
    display: inline-block;
    position: relative;
    background-color: red;
}

    div.feature-gif:hover span.play-gif-container {
        opacity: 1;
    }
/* --------------END of Systo.cshtml----------------*/

/* --------------QrScanner.cshtml----------------*/

#qrScanner-overview #row-1 {
    background-image: url('../images/qr.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

/* --------------END of Systo.cshtml----------------*/
@media only screen and (max-width: 1100px) {
    #bio-img {
        margin-left: 5%;
    }

    #nav-lang ul li {
        width: 70px;
    }

    #nav-lang ul {
        width: 150px;
    }
}

@media only screen and (max-width: 950px) {
    #nav-main ul li {
        width: 120px;
    }

    #nav-lang ul li {
        width: 70px;
    }


    #bio-img {
        margin: 0;
        width: 40%;
    }

        #bio-img img {
            width: 200px;
        }

    #bio-text {
        width: 60%;
    }

        #bio-text p {
            padding-right: 30px;
        }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    #contact-inputs {
        width: 100%;
    }

    #contact-name {
        width: 100%;
    }

    #contact-mail {
        width: 100%;
        margin-bottom: 10px;
    }

    #contact-name-mail {
        float: none;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #contact-message {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    /* --------------Projects.cshtml----------------*/

    #projects #row-1 {
        background-image: url('../images/projects-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
    }

    #projects #feed {
        width: 100%;
        padding: 20px 20px;
    }

    img.project-img{
        width: 100%;
    }

    /* --------------END of Projects.cshtml----------------*/
    /* --------------Systo.cshtml----------------*/

    #systo-overview #row-1 {
        background-image: url('../images/erp-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
    }

    .container {
        width: 100%;
        padding: 20px 20px;
    }

    img.feature-img {
        width: 100%;
        max-width: 543px;
    }

    
    /* --------------END of Systo.cshtml----------------*/
    /* --------------QrScanner.cshtml----------------*/
    #qrScanner-overview #row-1 {
        background-image: url('../images/qr-mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 400px;
    }

    /* --------------END of QrScanner.cshtml----------------*/
}

@media only screen and (max-width: 640px){
    #dlgbox {
        width: 100%;
    }
} 

@media only screen and (max-width: 600px) {
    .hamburger {
        display: block;
    }

    #nav-bar {
        display: inline-block;
        width: 100%;
        height: 50px;
        position: absolute;
    }

    .nav-bar-scrolled {
        transition: background-color 500ms linear;
        background-color: rgba(0,0,0,1);
    }

    .nav-bar-expanded {
        background-color: rgba(0,0,0,1);
    }

    #nav-main ul {
        display: none;
    }

    #nav-toggle:checked ~ ul {
        margin-top: 40px;
        display: block;
    }

    #nav-toggle:checked + .hamburger {
        transform: rotate(45deg) translateY(5px);
        border: none;
    }

        #nav-toggle:checked + .hamburger::after {
            transform: rotate(-90deg) translateX(-10px);
        }

    /*#nav-main ul li:hover {
        background-color: #43403d;
    }*/

    #nav-main ul li {
        width: 100%;
        background-color: rgba(0, 0, 0, 1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    #welcome {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #projects-container {
        width: 100%;
    }


    #bio-text {
        width: 90%;
        display: inline-block;
    }

        #bio-text p {
            padding-right: 0;
        }

    #bio-img {
        width: 100%;
    }

        #bio-img img {
            margin: 0 auto;
        }

    #index #row-2 {
        height: 100%;
    }

}

@media only screen and (max-width: 400px) {
    .project-box, #project-text {
        width: 90%;
    }

    .project-box img{
        width:100%;
    }

    .project-box:hover #project-text {
        background-color: rgba(0,0,0,0.8);
        width:100%;
        height:100%;
    }
}
