.hamburger {
    margin-top: 5px;
    display: none;
    float: left;
    width: 40px;
    height: 35px;
    border: 0;
    border-top: 5px solid white;
    position: relative;
    background: transparent;
    transition: 0.1s transform linear;
    cursor: pointer;
}

    .hamburger::before, .hamburger::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 5px solid white;
        transform: translateY(10px);
    }

    .hamburger::after {
        transform: translateY(25px);
        transition: 0.3s transform linear;
    }

    .hamburger:focus {
        transform: rotate(45deg) translateY(5px);
        border: none;
    }

        .hamburger:focus::after {
            transform: rotate(-90deg) translateX(-10px);
        }

#nav-toggle {
    display: none;
}

/*MAIN NAV*/

#nav-main ul {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(110, 105, 100, 0.7);
}

    #nav-main ul li {
        float: left;
        display: block;
        margin: 0;
        height: 100%;
        padding: 0;
        width: 200px;
        text-align: center;
    }

        #nav-main ul li:hover {
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.3);
            color: black;
        }

        #nav-main ul li a {
            display: block;
            text-decoration: none;
            padding-top: 15px;
            color: white;
            font-size: 20px;
        }

/*LANG NAV*/

#nav-lang ul {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    width: 400px;
    height: 50px;
}

    #nav-lang ul li {
        float: right;
        display: block;
        margin: 0;
        height: 100%;
        padding: 0;
        width: 100px;
        text-align: center;
    }

        #nav-lang ul li:hover {
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0.3);
            color: black;
        }

        #nav-lang ul li a {
            display: block;
            text-decoration: none;
            padding-top: 15px;
            color: white;
            font-size: 20px;
        }

#row-1 {
    background-image: url('../images/notebook.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

#welcome {
    margin-left: 180px;
    padding-top: 130px;
    color: white;
    width: 360px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
}

#row-2, #row-3, #row-4 {
    height: 550px;
}

#bio-img {
    margin-left: 20%;
    float: left;
}

#bio-text {
    width: 550px;
    display: inline-block;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: sans-serif;
    background-color: #6e6964;
}

p {
    font-size: 18px;
}

#row-2, #row-3, #row-4 h1 {
    text-align: center;
}

#row-2 {
    border: 1px solid white;
    background-color: white;
}

#row-3 {
    background-color: #6e6964;
}

    #row-3 h1, #row-4 h1 {
        color: white;
        padding-top: 30px;
    }

#projects-container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.btn-center {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#row-4 {
    margin-top: 0px;
    padding-top: 0px;
    background-color: #000;
}

#contact-inputs {
    width: 800px;
    overflow: hidden;
    margin: 0 auto;
}

#contact-name-mail {
    width: 50%;
    float: left;
}

#contact-name {
    width: 95%;
    margin-bottom: 10px;
}

#contact-mail {
    width: 95%;
}

#contact-message {
    height: auto;
    margin-right: 0;
    margin-left: 4%;
    width: 45%;
    resize: vertical;
    clear: both;
}

#contact-submit {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

#learn-more{
    margin-top: 30px;
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
}


@media only screen and (max-width: 1100px) {
    #bio-img {
        margin-left: 5%;
    }
}

@media only screen and (max-width: 950px) {
    #nav-main ul li {
        width: 120px;
    }

    #nav-lang ul li {
        width: 70px;
    }

    #nav-lang ul {
        width: 150px;
    }

    #bio-img {
        margin: 0;
        width: 40%;
    }

        #bio-img img {
            width: 200px;
        }

    #bio-text {
        width: 60%;
    }

        #bio-text p {
            padding-right: 30px;
        }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    #contact-inputs {
        width: 100%;
    }

    #contact-name {
        width: 100%;
    }

    #contact-mail {
        width: 100%;
        margin-bottom: 10px;
    }

    #contact-name-mail {
        float: none;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #contact-message {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    .hamburger {
        display: block;
    }

    #nav-main ul {
        display: none;
    }

    #nav-toggle:checked ~ ul {
        margin-top: 40px;
        display: block;
    }

    #nav-toggle:checked + .hamburger {
        transform: rotate(45deg) translateY(5px);
        border: none;
    }

        #nav-toggle:checked + .hamburger::after {
            transform: rotate(-90deg) translateX(-10px);
        }

    #nav-main ul li:hover {
        background-color: #43403d;
    }

    #nav-main ul li {
        width: 100%;
        background-color: rgba(110, 105, 100, 1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }

    p {
        font-size: 16px;
    }

    h1 {
        font-size: 32px;
    }

    #welcome {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    #projects-container {
        width: 100%;
    }



    #bio-text {
        width: 90%;
        display: inline-block;
    }

        #bio-text p {
            padding-right: 0;
        }

    #bio-img {
        width: 100%;
    }

        #bio-img img {
            margin: 0 auto;
        }

    #row-2 {
        height: 100%;
    }
}

@media only screen and (max-width: 400px) {
    #projects-container img {
        width: 90%;
    }
}
