@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<article id="qr-scanner">
    <h1>QR Scanner</h1>
    <section id="project-intro">
        <p>@Localizer["Intro_text"]</p>
    </section>
    <section id="project-image">
        <img src="~/images/qrScanner_systems.png" class="project-img fadeIn" />
    </section>
    <section id="project-techno">
        <h3 id="project-section-title">@Localizer["Techno"]</h3>
        <p>@Localizer["Techno_text"]</p>
    </section>
    <div class="btn-center">
        <a asp-page="./Projects" class="btn btn-primary" id="learn-more">@Localizer["Learn more"]</a>
    </div>
</article>