
<article id="qr-scanner">
    <h1>QR Scanner</h1>
    <section id="project-intro">

    </section>
    <section id="project-image">
        <img src="~/images/systo_systems.png" class="project-img" />
    </section>
    <section id="project-techno">

    </section>
    <section id="project-walktrough">

    </section>
    <section id="project-demo">

    </section>
</article>