@page
@model Texas.Pages.SystoModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Systo";
    Layout = "~/Pages/_Layout.cshtml";
}

<article id="systo-overview">
    <section id="row-1"></section>
    <section id="features">
        <div class="container">
            <h3>@Localizer["Modular"]</h3>
            <p>@Localizer["Modular-text"]</p>
            <img src="~/images/Systo_modules.png" class="feature-img" />
        </div>
        
    </section>
</article>

