@page
@model Texas.Pages.ProjectsModel
@section head{
    <link href="~/css/page-projects.css" rel="stylesheet" />
    <link href="~/css/animation.css" rel="stylesheet" />
}

<p id="projects" class="page-id" hidden></p>

<article id="projects">
    <section id="row-1" class="parallax">
    </section>
    <section id="row-2">
        <div id="feed">
            @await Html.PartialAsync("~/Pages/Projects/_systo.cshtml")
            <hr />
            @await Html.PartialAsync("~/Pages/Projects/_qrScanner.cshtml")
        </div>
    </section>
</article>

@section scripts{
    <script src="~/js/utils.js" asp-append-version="true"></script>
    <script src="~/js/animations.js" asp-append-version="true"></script>
}

