@page
@model Texas.Pages.ProjectsModel

<p id="projects" class="page-id" hidden></p>

<article id="projects">
    <section id="row-1">

    </section>
    <section id="row-2">
        <div id="feed">
            @await Html.PartialAsync("~/Pages/Projects/_systo.cshtml")
            <hr />
            @await Html.PartialAsync("~/Pages/Projects/_qrScanner.cshtml")
        </div>
    </section>
</article>

